<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cl.learn.redis.model.mapper.PhoneFareMapper" >
  <resultMap id="BaseResultMap" type="com.cl.learn.redis.model.entity.PhoneFare" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="fare" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="is_active" jdbcType="TINYINT" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, phone, fare, is_active
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from phone_fare
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from phone_fare
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.cl.learn.redis.model.entity.PhoneFare" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into phone_fare (phone, fare, is_active
      )
    values (#{phone,jdbcType=VARCHAR}, #{fare,jdbcType=DECIMAL}, #{isActive,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cl.learn.redis.model.entity.PhoneFare" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into phone_fare
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        phone,
      </if>
      <if test="fare != null" >
        fare,
      </if>
      <if test="isActive != null" >
        is_active,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fare != null" >
        #{fare,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null" >
        #{isActive,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.cl.learn.redis.model.entity.PhoneFare" >
    update phone_fare
    <set >
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="fare != null" >
        fare = #{fare,jdbcType=DECIMAL},
      </if>
      <if test="isActive != null" >
        is_active = #{isActive,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cl.learn.redis.model.entity.PhoneFare" >
    update phone_fare
    set phone = #{phone,jdbcType=VARCHAR},
      fare = #{fare,jdbcType=DECIMAL},
      is_active = #{isActive,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getPhoneFare" resultMap="BaseResultMap">
    select
        <include refid="Base_Column_List"/>
    from
        phone_fare
    where
        is_active = 1
  </select>
</mapper>